/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-accordion-block {
	border: 1px dotted #f00;
}

.wp-accordion-title {
	display: block;
	box-sizing: border-box;
	flex: 1;
	margin: 0;
	color: var(--accordion-title-color);
    font-size: var(--accordion-title-size);
    font-weight: var(--accordion-title-weight);
}