// .wp-block-wp-accordion-accordion-item .wp-accordion-content {
// 	display: block !important;
// }

.wp-accordion-header {
	background: var(--accordion-bg);
	color: var(--accordion-color);
}


.wp-accordion-header:hover {
	background-color:
		var(--accordion-bg-hover);
	color:
		var(--accordion-color-hover);
}

.wp-accordion-item.active
.wp-accordion-header {
	background-color:
		var(--accordion-bg-active);

	color:
		var(--accordion-color-active);
}

.wp-accordion-title {
	color:
		var(--accordion-color);
}

.wp-accordion-item.active
.wp-accordion-title {
	color:
		var(--accordion-color-active);
}

.wp-accordion-header:hover
.wp-accordion-title {
	color:
		var(--accordion-color-hover);
}
