
.wp-accordion-title {
	display: block;
	box-sizing: border-box;
	flex: 1;
	margin: 0;
	color: var(--accordion-title-color);
    font-size: var(--accordion-title-size);
    font-weight: var(--accordion-title-weight);
}

.wp-accordion-title:hover {
	color:
		var(--accordion-title-text-hover-color);
}

.wp-accordion-item.active .wp-accordion-title {
	color: var(--accordion-title-text-active-color);
}

.wp-accordion-header .icons_wrap .icon-color svg {
   width: var(--accordion-icon-size);
   height: var(--accordion-icon-size);
}

.wp-accordion-header .icons_wrap .icon-color svg path {
   stroke: var(--accordion-icon-color);
}

.wp-accordion-header .icons_wrap .icon-color svg path:hover {
   stroke: var(--accordion-icon-hover-color);
}

.wp-accordion-item.active .wp-accordion-header .icons_wrap .icon-color svg path {
   stroke: var(--accordion-icon-active-color);
}
