.wp-block-wp-accordion-accordion-item .wp-accordion-content.view_content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.wp-block-wp-accordion-accordion-item {
	margin-top: var(--accordion-margin-top);
	margin-bottom: var(--accordion-margin-bottom);
	margin-left: var(--accordion-margin-left);
	margin-right: var(--accordion-margin-right);
}

.wp-accordion-header {
	background: var(--accordion-bg);
	color: var(--accordion-color);
	border: var(--accordion-border);
	border-radius: var(--accordion-border-radius);
	min-height: 60px;
	box-sizing: border-box;
	line-height: normal !important;
	transition: background-color .3s ease, color .3s ease;
}

.wp-accordion-header:hover {
	background-color:
		var(--accordion-bg-hover);
	color:
		var(--accordion-color-hover);
}

.wp-accordion-item.active
.wp-accordion-header {
	background-color:
		var(--accordion-bg-active);

	color:
		var(--accordion-color-active);
}

.wp-accordion-title {
	color:
		var(--accordion-color);
}

.wp-accordion-title {
	font-size: var(--accordion-font-size);
	font-weight: var(--accordion-font-weight);
	
}

.wp-accordion-item.active
.wp-accordion-title {
	color:
		var(--accordion-color-active);
}

.wp-accordion-header:hover
.wp-accordion-title {
	color:
		var(--accordion-color-hover);
}

.icon-minus,.icon-chevron-up {
	display: none;
}

.wp-accordion-item.active .icon-chevron-down {
	display: none;
}

.wp-accordion-item.active .icon-chevron-up {
	display: inline-flex;
}

.wp-accordion-item.active .icon-plus {
	display: none;
}

.wp-accordion-item.active .icon-minus {
	display: inline-flex;
}

.wp-accordion-header:hover
.wp-accordion-icon {
	color:
		var(--accordion-color-hover);
}

.wp-accordion-item.active
.wp-accordion-icon {
	color:
		var(--accordion-color-active);
}