.wp-block-wp-accordion-accordion-item .wp-accordion-content.view_content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
}

.wp-accordion-header {
	background: var(--accordion-bg);
	color: var(--accordion-color);
	padding-top: var(--accordion-padding-top);
padding-right: var(--accordion-padding-right);
padding-bottom: var(--accordion-padding-bottom);
padding-left: var(--accordion-padding-left);
	border: var(--accordion-border);
	border-radius: var(--accordion-border-radius);
	min-height: 60px;
	box-sizing: border-box;
	line-height: normal !important;
}

.wp-accordion-title {
	font-size: var(--accordion-font-size);
	font-weight: var(--accordion-font-weight);
	
}

.icon-minus,.icon-chevron-up {
	display: none;
}

.wp-accordion-item.active .icon-chevron-down {
	display: none;
}

.wp-accordion-item.active .icon-chevron-up {
	display: inline-flex;
}

.wp-accordion-item.active .icon-plus {
	display: none;
}

.wp-accordion-item.active .icon-minus {
	display: inline-flex;
}